
  @import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

  body{
    font-family: 'Diphylleia' , serif;
  }

  h1{
    font-family: 'Noto Serif KR' , serif;
    font-weight: 800;
  }